@model ProductModel
@{
    var tags = await productService.GetTagAsync("OnSale");
}
@if (Model != null)
{
    <section class="product-display mt-5">
        <div class="pt-grid-container">
            <div class="pt-image-item">
                <img class="pt-big-image" src="@Model.ProductImg" alt="@Model.Name">
                <div class="pt-gig-container">
                    <div class="pt-gig-item">
                        <img src="@Model.ProductImg" alt="@Model.Name">
                    </div>
                    <div class="pt-gig-item">
                        <img src="@Model.ProductImg" alt="@Model.Name">
                    </div>
                    <div class="pt-gig-item">
                        <img src="@Model.ProductImg" alt="@Model.Name">
                    </div>
                    <div class="pt-gig-item">
                        <img src="@Model.ProductImg" alt="@Model.Name">
                    </div>
                </div>
            </div>
            <div class="pt-grid-item">
                <div class="pt-title">
                    @Model.Name
                </div>
                <div class="pt-description">
                    @Model.Description
                </div>
                <hr>
                <div class="pt-stars">
                    <i id="pt-star" class="fa-solid fa-star"></i>
                    <i id="pt-star" class="fa-solid fa-star"></i>
                    <i id="pt-star" class="fa-solid fa-star"></i>
                    <i id="pt-star" class="fa-solid fa-star"></i>
                    <i id="pt-star" class="fa-solid fa-star"></i>
                    <span class="pt-reviews">
                        16 Reviews
                    </span>
                </div>
                @if (Model.DiscountPrice > 0)
                {
                    <div class="pt-is-price" id="price" data-price="@Model.Price">
                        $@string.Format("{0:F0}", Model.Price)
                    </div>
                    <span class="pt-is-dt-price" id="discount" data-price="@Model.DiscountPrice">
                        $@string.Format("{0:F0}", Model.DiscountPrice)
                    </span>
                }
                else
                {
                    <div class="pt-price" id="price" data-price="@Model.Price">$@string.Format("{0:F0}", Model.Price)</div>
                }
                <div class="pt-quantity">
                    <button class="pt-minus" onclick="Minusnumber()"><i class="fa-solid fa-minus"></i></button>
                    <input id="input-quantity" name="quantity" min="1" placeholder="1" onchange="UpdateNumber()" type="number">
                    <button class="pt-plus" onClick="Plusnumber()"><i class="fa-solid fa-plus"></i></button>
                    <button id="btn-add-cart">Add to cart<i id="cart-svg" class="fa-solid fa-cart-plus"></i></button>
                </div>
                @if (Model.Category.CategoryTitle == "Bags" || Model.Category.CategoryTitle == "Dress")
                {
                    <div class="colors">
                        <i id="pt-red" class="fa-solid fa-circle"></i>
                        <i id="pt-yellow" class="fa-solid fa-circle"></i>
                        <i id="pt-lightblue" class="fa-solid fa-circle"></i>
                        <span class="pt-sku">SKU: N/A</span>
                    </div>
                }
                <button class="btn-white btn-wishlist">Add to wishlist</button>
                <div class="pt-category">Category: @Model.Category?.CategoryTitle</div>
            </div>
        </div>
    </section>
}
