@model UserViewModel
<section class="banner">
    <div class="banner-title">
        <ul>
            <li>
                <h2>Welcome, @Model.FirstName!</h2>
            </li>
        </ul>
    </div>
</section>
<div class="acc-con">
    <ul class="p-0" style="list-style: none; text-align: center;">
        <li>
            <h5 class="mb-0 text-dark">Full name</h5>
            <input class="text-center col-4 mb-1" value="@Model.FirstName @Model.LastName" disabled />
        </li>
        <li>
            <h5 class="mb-0 text-dark">Phonenumber</h5>
            <input class="text-center col-4 mb-1" value="@Model.PhoneNumber" disabled />
        </li>
        <li>
            <h5 class="mb-0 text-dark">Email</h5>
            <input class="text-center col-4 mb-1" value="@Model.Email" disabled />
        </li>
    </ul>
</div>