@model List<ProductModel>

@{
    var products = await productService.GetAllAsync();
    var categories = ViewData["Categories"] as List<CategoryModel>;
}

@if (Model.Any() || products.Any())
{
    <section class="product-grid-collection mb-5">
        <div class="text-center">Best Collection<i class="fa-solid fa-sunglasses ms-2"></i></div>
        <div class="container-fluid mb-5 pb-5">
            <div class="category">
                <ul>
                    <li><a asp-controller="products" asp-action="index">All</a></li>
                    @foreach (var category in categories!)
                    {
                        <li><a asp-controller="products" asp-action="index" asp-route-category="@category.CategoryTitle">@category.CategoryTitle</a></li>
                    }
                </ul>
            </div>

            @if (Model.Any())
            {
                <div class="product-grid-container">
                    @foreach (var product in Model.Take(8))
                    {
                        <div class="product-grid-item">
                            <img src="@product.ProductImg" alt="@product.Name">
                            <div class="product-name">@product.Name</div>
                            <span class="product-price">$@string.Format("{0:F0}", product.Price)</span>
                        </div>
                    }
                </div>
                <div class="d-flex justify-content-center">
                    <button>LOAD MORE<i class="fa-solid fa-rotate-right"></i></button>
                </div>
            }
            else
            {
                <div class="no-products mt-5"><i id="broken-heart" class="fa-solid fa-heart-crack"></i>No products found</div>
            }
        </div>
    </section>
}