@model List<ProductModel>

@{
    var tags = await productService.GetTagAsync("Featured");
    var random = new Random();
    var randomProductIndex = random.Next(tags.Count());
    var randomProduct = tags[randomProductIndex];
}
@if (tags.Any())
{
    <section class="showcase">
        <div class="container">

            <div class="content">

                <div class="ingress">
                    WELCOME TO BMERKETO SHOP
                </div>

                <div class="title">
                    @randomProduct.Name
                </div>

                <a class="btn-theme desktop-link" asp-controller="products" asp-action="product" asp-route-name="@randomProduct.Name">SHOP NOW</a>
            </div>

            <div class="content-img">
                <img src="@randomProduct.ProductImg" alt="@randomProduct.Name">
                <a class="btn-theme mobile-link" asp-controller="products" asp-action="product" asp-route-name="@randomProduct.Name">SHOP NOW</a>
            </div>

        </div>
    </section>
}
